:root {
    --dark: #0a0908;
    --main-background: #22333b;
    --main-foreground: #eae0d5;
    --accent-light: #c6ac8f;
    --accent-dark: #5e503f;
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.header {
    background-color: var(--dark);
    color: var(--main-foreground);
    display: flex;
    flex-direction: row;
}
